.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding: 50px 50px 50px 50px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Item-small {
  height: 100px;
  width: 100px;
}

.inline {
  justify-content: space-around;
}

.pad {
  padding: 0px 0px 0px 100px;
}

.flex-parent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap

}

.smull {
  font-size: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

